@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #244148;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    animation: slideDown 0.5s ease;
}

@keyframes slideDown {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 0px;
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 0 15px;
    position: relative; /* Necesario para el pseudo-elemento */
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    transition: color 0.3s ease;
    position: relative; /* Necesario para el pseudo-elemento */
}

.navbar a:hover {
    color: #244148; /* Cambiar el color del texto al pasar el cursor */
}

.navbar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #244148; /* Color de la línea */
    transition: width 0.3s;
    margin: 0 auto;
    position: absolute;
    bottom: -5px; /* Ubica la línea justo debajo del enlace */
    left: 0;
    right: 0;
}

.navbar a:hover::after {
    width: 100%; /* La línea se expande al 100% al pasar el cursor */
}


/* Estilos para el botón de hamburguesa */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #244148;
    cursor: pointer;
    margin-right: 5px;
    z-index: 1001; /* Asegúrate de que esté por encima de otros elementos */
}

/* Estilos para el menú móvil */
.mobile-menu {
    display: none;
    background-color: white;
    position: fixed; /* Cambiar a fixed para que se superponga a otros elementos */
    top: 60px; /* Ajusta la distancia desde el header */
    right: 0;
    width: 100%;
    max-width: 300px; /* O el tamaño que prefieras */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    animation: fadeIn 0.3s ease; /* Animación de aparición */
}

/* Estilos del menú móvil cuando está visible */
.mobile-menu.show {
    display: block;
}

/* Estilos de los enlaces en el menú móvil */
.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu li {
    border-bottom: 1px solid #ddd;
}

.mobile-menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.mobile-menu a:hover {
    background-color: #f5f5f5;
}

.cta {
    color: #244148;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.cta .icon {
    margin-right: 5px;
}

/* Media Queries para mostrar el botón de hamburguesa en móviles */
@media (max-width: 768px) {
    .navbar {
        display: none;
    }
    
    .menu-toggle {
        display: block;
    }
}



.hero {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    position: relative;
    text-align: center;
    color: white;
    margin-top: 80px; /* To accommodate fixed header */
    overflow: hidden; /* Ensure no overflow */
    height: 60vh; /* Adjust as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out; /* Transición para el cambio de imagen */
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: slideUp 1s ease;
    padding: 0 20px; /* Add padding to prevent text from touching edges */
}

@keyframes slideUp {
    from {
        transform: translate(-50%, 50%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.hero-text h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 4rem; /* Aumentado para más visibilidad */
    margin: 0;
}

.hero-text h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem; /* Aumentado para más visibilidad */
    margin-top: 10px;
}

.hero-text .btn-hero {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.2rem;
    font-style: normal;
    background-color: #244148;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 10px;
}

.hero-text .btn-hero:hover {
    background-color: #268198;
    transform: scale(1.05);
}

.hero-text .info-text {
    font-size: 1.2rem; /* Aumentado para más visibilidad */
    margin-top: 15px;
    color: #fff;
    margin-top: 40px;
}

/* Media Queries */
@media (max-width: 1200px) {
    .hero-text h1 {
        font-size: 3.5rem; /* Tamaño de fuente para pantallas más pequeñas */
    }
    .hero-text h2 {
        font-size: 2rem; /* Tamaño de fuente para pantallas más pequeñas */
    }
    .hero-text .btn-hero {
        padding: 15px 25px;
        font-size: 1.3rem; /* Tamaño de fuente del botón para pantallas más pequeñas */
    }
    .hero-text .info-text {
        font-size: 1.1rem; /* Tamaño de fuente para pantallas más pequeñas */
        margin-top: 30px; /* Ajustar margen superior para pantallas más pequeñas */
    }
}

@media (max-width: 992px) {
    .hero-text {
        padding: 0 15px; /* Reducir el padding en pantallas más pequeñas */
    }
    .hero-text h1 {
        font-size: 2.5rem; /* Tamaño de fuente para pantallas medianas */
    }
    .hero-text h2 {
        font-size: 1.75rem; /* Tamaño de fuente para pantallas medianas */
    }
    .hero-text .btn-hero {
        padding: 12px 20px;
        font-size: 1.1rem; /* Tamaño de fuente del botón para pantallas medianas */
    }
    .hero-text .info-text {
        font-size: 1rem; /* Tamaño de fuente para pantallas medianas */
        margin-top: 25px; /* Ajustar margen superior para pantallas medianas */
    }
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2rem; /* Tamaño de fuente para pantallas pequeñas */
    }
    .hero-text h2 {
        font-size: 1.25rem; /* Tamaño de fuente para pantallas pequeñas */
    }
    .hero-text .btn-hero {
        padding: 10px 15px;
        font-size: 1rem; /* Tamaño de fuente del botón para pantallas pequeñas */
    }
    .hero-text .info-text {
        font-size: 0.9rem; /* Tamaño de fuente para pantallas pequeñas */
        margin-top: 20px; /* Ajustar margen superior para pantallas pequeñas */
    }
}

@media (max-width: 576px) {
    .hero-text h1 {
        font-size: 1.75rem; /* Tamaño de fuente para pantallas extra pequeñas */
        width: 576px;
    }
    .hero-text h2 {
        font-size: 1.5rem; /* Tamaño de fuente para pantallas extra pequeñas */
    }
    .hero-text .btn-hero {
        padding: 8px 12px;
        font-size: 0.9rem; /* Tamaño de fuente del botón para pantallas extra pequeñas */
    }
    .hero-text .info-text {
        font-size: 0.8rem; /* Tamaño de fuente para pantallas extra pequeñas */
        margin-top: 15px; /* Ajustar margen superior para pantallas extra pequeñas */
        width: 400px;
        margin-left: 15%;
    }
}

.catalogo-seccion {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    padding: 60px 0;
    background-color: #f4f4f4;
}

.catalogo-seccion .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.catalogo-seccion h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    text-align: center;
    color: #244148;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
    animation: fadeInUp 0.6s ease-out;
}

.catalogo-seccion h2::after {
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background-color: #244148;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.producto {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    text-align: center;
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 0.6s ease-out;
}

.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.producto h3 {
    font-size: 1.2em;
    color: #333;
    margin: 15px 0 10px;
}

.producto p {
    color: #666;
    margin: 0 0 10px;
}

.btn-mas {
    display: inline-block;
    background-color: #244148;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 10px;
}

.btn-mas:hover {
    background-color: #268198;
    transform: scale(1.05);
}

.btn-ver-todo {
    display: inline-block;
    background-color: #244148;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
    text-align: center;
}

.btn-ver-todo:hover {
    background-color: #268198;
    transform: scale(1.05);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.ubicacion {
    text-align: center;
    padding: 60px 20px;
    background-image: url('bathroom1.jpg'); /* Cambia la URL a la de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra toda la sección */
    background-attachment: fixed; /* Esto activa el efecto parallax */
    background-position: center; /* Asegura que la imagen esté centrada */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: #fff; /* Asegura que el texto sea visible sobre el fondo */
}

.ubicacion h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #244148;
}

.ubicacion h2::after{
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background-color: #244148;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#map {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
}

.ubicacion h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.payment-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.payment-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.payment-method:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.payment-method i {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #244148;
}

.payment-method p {
    font-size: 1.2rem;
    color: #333;
}

.about-us {
    padding: 60px 20px;
    text-align: center;
    animation: fadeIn 1s ease;
    background-color: #ffffff;
}

.about-us h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    left: 45%;
    width: auto;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #244148;
}

.about-us h2::after {
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background-color: #244148;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about-content {
    display: flex;
    margin: 0 auto;
}

.about-image {
    position: relative;
    width: 60%;
}

.about-image img {
    width: 40%;
    height: auto;
}

.about-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    position: absolute;
    top: 20%;
    right: 0;
    background-color: #484848;
    color: white;
    padding: 40px 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateX(50%);
    animation: slideIn 1s ease;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(50%);
        opacity: 1;
    }
}

.about-text p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

.btn-catalogo {
    background-color: #244148;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.btn-catalogo:hover {
    background-color: #268198;
}

/* Media Queries */
@media (max-width: 1024px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        width: 100%;
    }

    .about-image img {
        display: none;
        width: 100%;
    }

    .about-text {
        background-image: url('shower.jpg');
        position: static;
        width: 85%;
        transform: translateX(0);
        animation: none;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .about-us {
        padding: 30px 10px;
    }

    .about-us h2 {
        position: relative;
        left: 0;
        font-size: 2rem;
    }

    .about-text p {
        font-size: 1rem;
    }

    .about-text button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

.footer {
    background-color: #244148;
    color: #fff;
    padding: 20px 20px;
    text-align: left;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.footer-section p, .footer-section a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 10px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #1c5cab;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;  /* Reducido a 10px */
    border-top: 1px solid #444;
}

.footer-bottom p {
    margin: 0;
}

.footer-section i {
    margin-right: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 20px 0;
        text-align: center;
    }
}

